{% extends "layout.html" %}

{% block heading %}
Add/Edit Employee Details
{% endblock %}

{% block body %}
<div>
    <form action="{{url_for('employee')}}">
        
    </form>
</div>
<div class="form-group">
    <form action="{{url_for('emp_submit')}}" method="post">
        <div>Employee Number: <input type="text" name="e_num" placeholder="E12345" required>
            Department: <select  name="dept_id">
                {% for dp in dept %}
                <option selected="selected">{{ dp }}</option>
                {%endfor%}
            </select>
        </div>
        <br>
        Last Name: <input type="text" name="last"  required>
        
        Fist Name: <input type="text" name="first" required>
        <br>
        <div>
            Job Title: <input type="text" name="job_title" required>
            Shifts: <select list="shift" name="shift" required>
                <option>AM</option>
                <option>PM</option>
                <option>AM/PM</option>
            </select>
            <br>
            Days off (select 2 or more): 
            <select class="multiselect" multiple name="days_off" required>
                <option>Sunday</option>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
            </select>
            FTE (hrs/week): <input type="number" name="fte" required>
            <br>
            <button id="Submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}