{% extends "layout.html" %}

{% block heading %}
Add/Edit Employee Details
{% endblock %}

{% block body %}
<div>
    <form action="{{url_for('employee')}}">
        
    </form>
</div>
<div>
    <form action="{{url_for('emp_submit')}}" method="post">
        <div>Employee Number: <input type="text" name="e_num" placeholder="E12345" required>
            Department: <input type="text" list="dept" name="dept_id" >
            <datalist id="dept">
                {% for dp in dept %}
                <option data-value="{{dp[0]}}">{{dp[1]}}</option>
                {%endfor%}
            </datalist>
        </div>
        Last Name: <input type="text" list='employee_list' name="last" placeholder="Select Employee"  required>
        <datalist id="employee_list">
            {% for name in names %}
                <option>{{name}}</option>
            {% endfor %}
        </datalist>
        Fist Name: <input type="text" name="first" required>

    </div>
    <div>
        Job Title: <input type="text" name="job_title" required>
        Shifts: <input list="shift" name="shift" required>
        <datalist id="shift">
            <option>AM</option>
            <option>PM</option>
            <option>AM/PM</option>
        </datalist>
        <br>
        Days off: <input list="days" name="days_off" required>
        <datalist id='days'>
            <option>Sunday</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
        </datalist>
        FTE (hrs/week): <input type="number" name="fte" required>
        <br>
    <button id="Submit">Submit</button>
    </div>
</form>
{% endblock %}