{% extends "layout_PI.html" %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Premium Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="../../assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../assets/css/shared/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
</head>
{% block body %}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">
                                x
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}

                        <form action="{{url_for('auth_bp.login')}}" method="POST">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <fieldset class="empit">
                                    <label class="label">Employee ID</label>
                                    <div class="input-group">
                                        {{ form.empid }}
                                        {% if form.empid.errors %}
                                        <ul class="errors">
                                            {% for error in form.empid.errors %}
                                            <li>{{ error }}</li>{% endfor %}
                                        </ul>
                                        {% endif %}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                            </div>
                            </fieldset>
                            <div class="form-group">
                                <fieldset class="password">
                                    <label class="label">Password</label>
                                    <div class="input-group">
                                        {{ form.password }}
                                        {% if form.password.errors %}
                                        <ul class="errors">
                                            {% for error in form.password.errors %}
                                            <li>{{ error }}</li>{% endfor %}
                                        </ul>
                                        {% endif %}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                            </div>
                            </fieldset>

                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block">Login</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}