{% extends "layout_NHSN.html" %}
{% block heading %}
NHSN Audit
{% endblock %}

{% block body %}
<h3>Select Campus</h3>
<a {% if campus=='All'%} class="btn btn-primary" {%else%}class="btn btn-outline-primary" {%endif%}
    href="{{url_for('NHSN_Audit', campus='All')}}">All</a>
<a {% if campus=='BGH'%} class="btn btn-primary" {%else%}class="btn btn-outline-primary" {%endif%}
    href="{{url_for('NHSN_Audit', campus='BGH')}}">BGH</a>
<a {% if campus=='CMH'%} class="btn btn-primary" {%else%}class="btn btn-outline-primary" {%endif%}
    href="{{url_for('NHSN_Audit', campus='CMH')}}">CMH</a>
<a {% if campus=='DVH'%} class="btn btn-primary" {%else%}class="btn btn-outline-primary" {%endif%}
    href="{{url_for('NHSN_Audit', campus='DVH')}}">DVH</a>
<a {% if campus=='WMH'%} class="btn btn-primary" {%else%}class="btn btn-outline-primary" {%endif%}
    href="{{url_for('NHSN_Audit', campus='WMH')}}">WMH</a>
<br>
<br>
<form action="{{url_for('NHSN_Audit', campus=campus)}}" method="POST">
    <h4>Select Date:</h4> <select name="date" id="date">
        {%for dt in dates%}
        <option value="{{dt.strftime('%Y-%m-%d')}}">{{dt.strftime('%Y-%m-%d')}}</option>
        {%endfor%}
    </select>
    <button class="btn btn-primary btn-sm">Submit</button>
</form>
<br>
<br>
<link rel="stylesheet" href="{{url_for('static', filename='table.css')}}">
<div class="tableFixHead">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Campus</th>
                <th scope="col">Unit</th>
                <th scope="col">Measure</th>
                <th scope="col">Manual Count</th>
                <th scope="col">EPIC Count</th>
                <th scope="col">Difference</th>
                <th scope="col">Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr {% if row.difference_percent|float > 5 %} class="table-danger" {% endif %}>
                <td>{{row.date.strftime('%Y-%m-%d')}}</td>
                <td>{{row.campus}}</td>
                <td>{{row.unit}}</td>
                <td>{{row.measure}}</td>
                <td style="text-align: center;"><a id="{{row.nhsn_item_id+'manual'}}"
                        data-date="{{row.date.strftime('%Y-%m-%d')}}" data-unit="{{row.unit}}"
                        data-measure="{{row.measure}}" data-value="{{row.manual_count}}"
                        data-nhsn_item_id="{{row.nhsn_item_id}}" data-entry_type="Manual"
                        onclick="togglePopup('{{row.nhsn_item_id+'manual'}}')">{%if row.manual_count  is not none  %}{{row.manual_count}}{%endif%}</a>
                </td>
                <td style="text-align: center;"><a id="{{row.nhsn_item_id+'epic'}}"
                        data-date="{{row.date.strftime('%Y-%m-%d')}}" data-unit="{{row.unit}}"
                        data-measure="{{row.measure}}" data-value="{{row.epic_count}}"
                        data-nhsn_item_id="{{row.nhsn_item_id}}" data-entry_type="EPIC"
                        onclick="togglePopup('{{row.nhsn_item_id+'epic'}}')">{%if row.epic_count  is not none  %}{{row.epic_count}}{%endif%}</a>
                </td>
                <td style="text-align: center;">{%if row.difference  is not none  %}{{row.difference}}{%endif%}</td>
                <td style="text-align: center;">
                    {%if row.difference_percent  is not none  %}{{row.difference_percent}}%{%endif%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>
<br>

<!-- Popup script -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='popup.js')}}"></script>
<link rel="stylesheet" href={{ url_for('static', filename='popup.css') }}>

<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="closePopup()">&times;</div>
        <br>
        <div id="popup-inside"></div>

    </div>
</div>
{%endblock%}