{% extends "layout_occ_med.html"%}

{%block heading%}
Check In New Patient
{%endblock%}

{%block body%}
<script>

    document.addEventListener('DOMContentLoaded', () => {
        //Changing # of persons would change values for Sun-Sat
        document.querySelector('#persons').onkeyup = function () {
            var val = document.querySelector("#persons").value
            //alert(`Value is ${val}`)
            document.querySelector('#sun').value = val
            document.querySelectorAll('.sub_item').forEach(function (value) {
                value.value = val
            })
        }

        //Customize Days button to display Sun-Sat
        document.querySelector('#customize').onclick = function () {
            document.querySelectorAll('.addnew').forEach(function (elm) {
                if (elm.style.display === 'none') {
                    elm.style.display = ""
                } else {
                    elm.style.display = 'none';
                }
            })
        }
    })
</script>

<form action="{{url_for('checkIn')}}" method="post">
    <div class="form-grid">
        <div class="grid-item">
            First Name: <input type="text" name="first_name">
        </div>
        <div class="grid-item">
            Last Name: <input type="text" name="last_name">
        </div>
        <div class="grid-item">
            Campus:
            <select name="campus">
                <option value="BGH">BGH</option>
                <option value="WMH">WMH</option>
                <option value="Ideal">Ideal</option>
                <option value="Lewis Rd">Lewis Rd</option>
                <option value="Vestal 3">Vestal 3</option>

            </select>
        </div>
        <div class="grid-item">
            Department / Unit: <input type="text" name="dept" required>
        </div>
        <div class="grid-item">
            Reason for visit:
            <select name="reason">
                <option value="Annual Assessment">Annual Assessment</option>
                <option value="FIT">FIT</option>
                <option value="Arm Read">Arm Read</option>
                <option value="New Hire Physical">New Hire Physical</option>
                <option value="PPD">PPD</option>
                <option value="IMM">IMM</option>
                <option value="Nurse Visit">Nurse Visit</option>
                <option value="Drug Test">Drug Test</option>
                <option value="BP/WT">BP/WT</option>
                <option value="Records">Records</option>

            </select>
        </div>
        <div class="grid-item">
            Comments: <input type="text" name="comments">
        </div>

    </div>

    <br>
    <div>
        <input class="btn btn-primary" type="submit" id="Submit" name="submit"></input>
    </div>
</form>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Campus</th>
            <th>Department</th>
            <th>Reason for visit</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        {%for item in checkInTable %}
        <tr>
            <!-- <td><a href="{{url_for('schedule_setting_del',sch_id=item.sch_id)}}">Delete</a></td> -->
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.campus}}</td>
            <td>{{item.dept}}</td>
            <td>{{item.reason}}</td>
            <td>{{item.comments}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}