{% extends "layout.html" %}

{% block heading %}
Employee Schedule
{% endblock %}

{% block body %}
<script>
    function togglePopup(kitchen_id, kitchen_col) {
        document.getElementById("popup-1").classList.toggle("active");
        var form = document.forms[0]
        form.querySelector('input[name="hidden-kitchen-id"]').value = kitchen_id
        form.querySelector('input[name="hidden-kitchen-col"]').value = kitchen_col
    }
</script>
<link rel="stylesheet" href={{ url_for('static', filename='popup.css') }}>

<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <br>
        <form action="{{url_for('test')}}" method="POST" id="">
            Employee:
            <select name="emp_id">
                {% for e in emp %}
                <option value={{ e.uniq_id }} {% if e.uniq_id==uniq_id %} selected="selected" {%endif%}>{{ e.uniq_id }}
                </option>
                {%endfor%}
            </select>
            <br>
            <input type="text" value=118 name="hidden-kitchen-id">
            <br>
            <input type="text" value="mon1" name="hidden-kitchen-col">
            <input type="submit" name="" id="" class="btn btn-primary btn-sm">
        </form>

    </div>
</div>

<button onclick="togglePopup('105', 'fri1')" class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id="105"
    data-kitchen_col="fri1">Show This</button>


<div>
    <form action="{{ url_for('schedule') }}" method="post">
        <button id="Submit" class="btn btn-primary">Generate Schedule</button>
    </form>
</div>
<div>
    <ul>
        <li><a href="{{ url_for('emp_table') }}">Click Here</a> to see employee level schedule</li>
    </ul>

</div>
<h2>Schedule:</h2>
<div style="overflow-x: auto; overflow-y: auto; max-height: 800px;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Job</th>
                <th>Time</th>
                <th>Sun1</th>
                <th>Mon1</th>
                <th>Tue1</th>
                <th>Wed1</th>
                <th>Thur1</th>
                <th>Fri1</th>
                <th>Sat1</th>
                <th>Sun2</th>
                <th>Mon2</th>
                <th>Tue2</th>
                <th>Wed2</th>
                <th>Thur2</th>
                <th>Fri2</th>
                <th>Sat2</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.job}}</td>
                <td>{{item.time}}</td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'sun1')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="sun1">{{item.sun1}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'mon1')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="mon1">{{item.mon1}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'tue1')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="tue1">{{item.tue1}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'wed1')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="wed1">{{item.wed1}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'thur1')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="thur1">{{item.thur1}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'fri1')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="fri1">{{item.fri1}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'sat1')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="sat1">{{item.sat1}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'sun2')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="sun2">{{item.sun2}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'mon2')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="mon2">{{item.mon2}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'tue2')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="tue2">{{item.tue2}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'wed2')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="wed2">{{item.wed2}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'thur2')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="thur2">{{item.thur2}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'fri2')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="fri2">{{item.fri2}}</button></td>
                <td><button onclick="togglePopup('{{item.kitchen_id}}', 'sat2')"
                        class="btn btn-outline-primary btn-sm kit-table-data" data-kitchen_id={{item.kitchen_id}}
                        data-kitchen_col="sat2">{{item.sat2}}</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}