{% extends "layout.html" %}

{%block heading%}
Schedule (Site under construction....)
{%endblock%}

{%block body %}
<h2>Cook Schedule</h2>
<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">   Name</th>
            <th scope="col"> Sunday 1</th>
            <th scope="col"> Monday 1</th>
            <th scope="col"> Tueday 1</th>
            <th scope="col"> Wedday 1</th>
            <th scope="col"> Thurday 1</th>
            <th scope="col"> Friday 1</th>
            <th scope="col"> Satday 1</th>
            <th scope="col"> Sunday 2</th>
            <th scope="col"> Monday 2</th>
            <th scope="col"> Tueday 2</th>
            <th scope="col"> Wedday 2</th>
            <th scope="col"> Thurday 2</th>
            <th scope="col"> Friday 2</th>
            <th scope="col"> Satday 2</th>
        </tr>
    </thead>
    <tbody>
        {% for row in cook_sch %}
        <tr>
            <td scope="row">{{ row.fullname }}</td>
            <td>{{ row.Sun1 }}</td>
            <td>{{ row.Mon1 }}</td>
            <td>{{ row.Tue1 }}</td>
            <td>{{ row.Wed1 }}</td>
            <td>{{ row.Thur1 }}</td>
            <td>{{ row.Fri1 }}</td>
            <td>{{ row.Sat1 }}</td>
            <td>{{ row.Sun2 }}</td>
            <td>{{ row.Mon2 }}</td>
            <td>{{ row.Tue2 }}</td>
            <td>{{ row.Wed2 }}</td>
            <td>{{ row.Thur2 }}</td>
            <td>{{ row.Fri2 }}</td>
            <td>{{ row.Sat2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<img src="https://images.pexels.com/photos/2138126/pexels-photo-2138126.jpeg?cs=srgb&dl=building-canes-2138126.jpg&fm=jpg" height="420">
{%endblock%}