{% extends "layout.html"%}

{%block heading%}
Schedule Settings
{%endblock%}

{%block body%}
<br>
<h3>Add Job</h3>
<br>
<form action="{{url_for('schedule_setting_submit')}}" method="post">
    <div class="form-grid">
        <div class="grid-item">
            Job Name: 
            <select name="job">
                {% for j in job %}
                <option value={{ j.job_id }}>{{ j.job_name }}</option>
                {%endfor%}
            </select>
        </div>
        <div class="grid-item">
            Shift Start Time: <input type="time" name="shift_start" value="06:30 am">
        </div>
        <div class="grid-item">
            Number of persons :<input type="Number" name="no_of_emp" value=1>
        </div>
        <div class="grid-item">
            Hours/Shift: <input type="Number" name="hr_per_shift" value=8>
        </div>
    </div>
    <br>
    <div>
        <input  class="btn btn-primary" type="submit" id="Submit" name="submit"></input>
    </div>
</form>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Job</th>
            <th>Shift Start Time</th>
            <th>No. of Employees</th>
            <th>Hours/Shift</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        {%for item in sch_all %}
        <tr>
            <td><a href="{{url_for('schedule_setting_del',sch_id=item.sch_id)}}">Delete</a></td>
            <td>{{item.job_name}}</td>
            <td>{{item.shift_start}}</td>
            <td>{{item.no_of_emp}}</td>
            <td>{{item.hr_per_shift}}</td>
            <td>{{item.comment}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}
